# django_inscriptions Docker env (demo)
DEBUG=False
SECRET_KEY=change-me-demo
DATABASE_URL=postgresql://postgres:postgres@db:5432/inscriptionsdb_demo
SMTP_EMAIL=replace@example.com
SMTP_PASS=replace-with-app-password
DJANGO_ALLOWED_HOSTS=demo-api.jnicamp.tsi.pe
DJANGO_CSRF_TRUSTED_ORIGINS=https://demo-api.jnicamp.tsi.pe,https://demo.jnicamp.tsi.pe,https://demo-web.jnicamp.tsi.pe
DJANGO_SETTINGS_MODULE=core.settings.production
DJANGO_CORS_ALLOW_ALL_ORIGINS=False
DJANGO_CORS_ALLOWED_ORIGINS=https://demo.jnicamp.tsi.pe,https://demo-web.jnicamp.tsi.pe,https://demo-api.jnicamp.tsi.pe

# Optional external DB used by apps.kenani
EXTERNA_DB_NAME=oldinscriptionsdb
EXTERNA_DB_USER=postgres
EXTERNA_DB_PASSWORD=postgres
EXTERNA_DB_HOST=db
EXTERNA_DB_PORT=5432
