# django_inscriptions Docker env
DEBUG=False
SECRET_KEY=change-me-in-production
DATABASE_URL=postgresql://postgres:postgres@db:5432/inscriptionsdb
SMTP_EMAIL=replace@example.com
SMTP_PASS=replace-with-app-password
DJANGO_ALLOWED_HOSTS=jnicampapi.tsi.pe
DJANGO_CSRF_TRUSTED_ORIGINS=https://jnicampapi.tsi.pe,https://jnicamp.tsi.pe
DJANGO_SETTINGS_MODULE=core.settings.production
DJANGO_CORS_ALLOW_ALL_ORIGINS=False
DJANGO_CORS_ALLOWED_ORIGINS=https://jnicamp.tsi.pe,https://jnicampapi.tsi.pe

# Optional external DB used by apps.kenani
EXTERNA_DB_NAME=oldinscriptionsdb
EXTERNA_DB_USER=postgres
EXTERNA_DB_PASSWORD=postgres
EXTERNA_DB_HOST=db
EXTERNA_DB_PORT=5432
